* {
  box-sizing: border-box;
}

body {
  font-family: 'PT Sans', sans-serif;
}

header {
  background-color: rgb(26, 27, 28);
  height: 200px;
  width: 100%;
}

.header-logo img {
  height: auto;
  margin-left: 2em;
  position: relative;
  top: 1.7em;
  width: 8.5em;
}

nav ul {
  margin-left: -5.5em;
}

nav ul li {
  display: inline-block;
  left: 20px;
  position: relative;
  top: 40px;
  
}

nav ul li a {
  color: white;
  margin-left: 7em;
  text-decoration: none;
}

#homepage {
  background-color: #032ea5;
  height: 100vh;
}

#image-section {
  background-color: #f2f2f2;
  display: block;
  height: 400px;
}

#image-section img {
  height: auto;
  margin-left: 13.5%;
  margin-right: auto;
  margin-top: 3%;
  width: 15%;
}

.search-container {
  bottom: 5em;
  left: 15em;
  position: relative;
}

.search-container input {
  font-size: 16px;
  height: 3em;
  width: 27em;
}

.search-container button {
  background-color: #032ea5;
  color: white;
  font-size: 16px;
  height: 3em;
  position: absolute;
  width: 8em;
}

/* can't resize chart
/* how do I add the cards around images and add the tags
/* ask John about the webkit box and the formatting of these sites
